ipython
jedi
matplotlib
numpy
Pillow
scipy
tqdm
pygame
gym==0.26.0

# Install PyTorch prior to running pip install -r requirements
# pip install torch torchvision torchaudio --extra-index-url https://download.pytorch.org/whl/cu116
# torch==1.12.1+cu116
# torchaudio==0.12.1
# torchvision==0.13.1+cu116